{{!-- Body --}}

<div class="jumbotron mt4">
    <h1 class="display-4">Notes App Nodejs and Mongodb</h1>
    <p class="lead">Notas do dia a dia</p>
    <hr class="my-4">
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Consequatur voluptas itaque nesciunt saepe id soluta, expedita dicta fugit iste temporibus quas, quia rerum deserunt? Nihil modi itaque dolorum minima consequuntur.</p>
    <a href="http://google.com.br" target= "_blank" class="btn btn-primary">Google</a>
</div>

<!-- ESSE É CHAMADO NAS ROTAS E É INSERIDO DENTRO DE LAYOUTS/MAIN.HBS -->